Collected**Data
Credential**Management
Reports
alternate_data_stream.txt
Settings
Future**Dependency**Check.ps1
Computers**To**Import**
Log**File.txt
OpNotes**
Temp/**
Show-Directory**
Future**Dependency**Check**